RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]                             # if requesting index.html directly, do nothing

RewriteCond %{REQUEST_FILENAME} !-f                         # if the request is NOT a real file...
RewriteCond %{REQUEST_FILENAME} !-d                         # and NOT a real directory...
RewriteRule . /index.html [L,QSA]                             # ...then serve index.html


    